:root {
    --page-color: #f4e8bd;
    --nav-bar-color: #0084ff;
    --heading-font: Lato;
    --body-text-font: Arial;    
}

body {    
    background-color: var(--page-color, beige);
    font-family: var(--body-text-font, 'Times New Roman', Times, serif);
    margin: 0;
    
    & main {
        margin: 0.5vh 1vw 0.5vh 1vw;
        padding: 0 0.5vw 0 0.5vw;
    }

    & section {
        margin: 0.5vh 1vw 0.5vh 1vw;
        padding: 0 0.5vw 0 0.5vw;
        display: flex;
        flex-direction: column;
    }
    
}

header {
    margin: 0 0 0.5vh 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;    
}

h1 {
    margin: 0 0 0 0; 
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-family: var(--heading-font, Verdana, Geneva, Tahoma, sans-serif);    
    color: white;
    background-color: color-mix(in srgb, orange 75%, black 25%);
    text-align: center;
    flex-direction: row;
}

/* Only works on safari at the moment */
/* nav:has(a) {
    background-color: var(--nav-bar-color, #0084ff);    
    margin: 0 0 0 0;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    display: flex;
    flex-direction: row;
} */


nav {
    background-color: var(--nav-bar-color, #0084ff);    
    margin: 0 0 0 0;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    display: flex;
    flex-direction: row;
}

nav a {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-decoration-line: underline;
    color: white;
}

nav a:hover{
    background-color: #B03535;
}

h2, h3 {
    font-family: var(--heading-font, Verdana, Geneva, Tahoma, sans-serif);    
    color: color-mix(in srgb, orange 75%, black 25%);
    transition:
        color 0.5s,
        background-color 0.5s;
    transition-delay: 0.1s;  
}

h2:hover, h3:hover {
    color: white;
    background-color: #B03535;
}

form {
    border: 1px solid color-mix(in srgb, orange 75%, black 25%);    
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    & label {
        color: color-mix(in srgb, orange 75%, black 25%);
    }
}

.msg-block {
    display: flex;
    flex-direction: row;    
}

output {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    color: #B03535;
    background-color: color-mix(in srgb, #0084ff 50%, white 50%);
    border: 1px solid black;
}

/* Specification for mobile phones */
img {
    border: 1px solid black;
    padding: 1em;
    object-fit: contain;
    max-width: 50%;    
    height: auto;
}

/* image specifications for larger screens */
@media screen and (min-width: 480px) {
    img {                        
        max-width: 20%;            
    }
}

@keyframes animation_experiment {
    0% {background-color: var(--page-color, beige);}
    50% {background-color: red;}
    100% {background-color: green;}
}